.header {
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(15, 15, 15);

  z-index: 300;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 16px;
  margin-right: 16px;
  padding: 8px;
  border-radius: 30px;
  filter: invert(100%);
}

.hamburger-menu:hover {
  background-color: rgb(215, 215, 215);
  cursor: pointer;
}

.youtube-logo {
  height: 20px;
  /*filter: hue-rotate(180deg);*/
  filter: invert(100%);
  cursor: pointer;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 660px;
  display: flex;
  align-items: center;
}

.search-bar {
  color:  rgba(255, 255, 255, 0.88);
  flex: 1;
  height: 36px;
  padding-left: 16px;
  font-size: 16px;
  background-color: rgb(18, 18, 18);
  border: 1px solid rgb(48, 48, 48);
  border-right-width: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(140, 140, 140);
}

.search-button {
  height: 40px;
  width: 65px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(255, 255, 255, 0.08);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(48, 48, 48);
  margin-right: 15px;
}

.search-button, 
.voice-search-button,
.upload-icon-container,
.notifications-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.search-button .label,
.voice-search-button .label,
.upload-icon-container .label,
.notifications-icon-container .label {
  position: absolute;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
  background-color: rgba(119, 119, 119, 0.95);
  padding: 10px 8px;
  border-radius: 4px;
  bottom: -57px;
  transition: opacity 0.25s;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .label,
.voice-search-button:hover .label,
.upload-icon-container:hover .label,
.notifications-icon-container:hover .label {
  opacity: 1;
}

.search-icon {
  margin-top: -2px;
  height: 26px;
  filter: invert(100%);
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: rgb(40, 40, 40);
  border: none;
  transition: background-color 0.15s;
}

.voice-search-button:hover {
  background-color:  rgb(62, 62, 62);
}

.voice-search-icon {
  height: 24px;
  filter: invert(100%);
}

.right-section {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*justify-content: space-evenly;*/
  margin-right: 30px;
  flex-shrink: 0;
}

.upload-icon-container,
.notifications-icon-container {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  transition: background-color 0.15s;
}

.upload-icon-container:hover,
.notifications-icon-container:hover {
  background-color: rgb(40, 40, 40);
}

.upload-icon-container {
  margin-left: 28px;
}

.upload-icon {
  margin-left: 1px;
  height: 24px;
  filter: invert(100%);
}

.notifications-icon {
  height: 24px;
  filter: invert(100%);
}

.notifications-icon-container {
  margin-right: 12px;
  position: relative;
}

.notifications-count {
  position: absolute;
  top: 6px;
  right: 4px;
  color: white;
  background-color: red;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding: 1px 4px;
  border-radius: 13px;
}

.current-user-picture {
  height: 32px;
  border-radius: 16px;
}

.header-categories {
  height: 110px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding-left: 96px;
  padding-bottom: 2px;
  flex-direction: row;
  justify-items: right;
  align-items: end;
  background-color: rgb(15, 15, 15);
  z-index: 200;
}

.category--selected, .category {
  font-size: 14px;
  font-weight: 500;
  padding: 8px 12px 7px 12px;
  margin-right: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  white-space: nowrap;
}

.category:hover {
  background-color:  rgb(62, 62, 62);
}

.category--selected {
  color: rgb(40, 40, 40);
  background-color: rgb(231, 231, 231);
}

.category {
  color: white;
  background-color:  rgb(40, 40, 40);
}