.sidebar {
    position: fixed;
    left: 0;
    top: 56px;
    bottom: 0;
    width: 62px;
    padding-top: 5px;
    padding-left: 5px;
    background-color: rgb(15, 15, 15);
    color: white;
    z-index: 300;
}

.sidebar-feed-links {
    background-color: rgb(15, 15, 15);
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-feed-links:hover {
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
}

.sidebar-feed-links img {
    height: 24px;
    filter: invert(100%);
    margin-bottom: 7px;
}

.sidebar-feed-links p {
    font-size: 10px;
}