a {
    margin-bottom: -9px;
}

.related-video {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.related-video__left-column {
    display: flex;
}

.related-video__right-column {
    display: contents;
}

.related-video__thumbnail-grid {
    position: relative;
}

.related-video__thumbnail {
    cursor: pointer;
    height: 95px;
    border-radius: 8px;
}

.related-video__video-time {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    position: absolute;
    bottom: 12px;
    right: 8px;
    font-size: 13px;
    padding: 2px 4px;
    border-radius: 4px;
    cursor: pointer;
}

.related-video__info {
    margin-left: 8px;
}

.related-video__title {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    line-height: 18px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden; 
    max-height: 2.5em; 
}

.related-video__author,
.related-video__stats {
    font-size: 12px;
    color: rgb(170, 170, 170);
    text-align: left;
    margin-bottom: 4px;
    text-overflow: ellipsis;
    overflow: hidden; 
    height: 1.4em; 
}

.dots-icon {
    height: 18px;
    cursor: pointer;
    filter: invert(100%);
}

@media (max-width: 1020.9px) {
    .related-video__title {
        height: 1.3em;
    }
}